exclude .gitignore
exclude .coverage
exclude .travis.yml
exclude .pyc
include README.md
include setup.cfg
prune .cache
prune .git
prune build
prune dist
recursive-exclude *.egg-info *
recursive-include tests *
recursive-include lmdo/template *
recursive-include lmdo/local_template *
